<h2>likeBreeder</h2>

<br>

<div style="display:block; clear:both;">
  <button ng-click="selectItems(totalVisibleItems)"
    style="display: block; margin-left: auto; margin-right: auto;"
    ng-disabled="rollDisabled">
    &uarr; Roll &darr;
  </button>
  <br><br><br>
</div>

<div ng-repeat="oneItem in selectedMediaItems" ng-class="{selected: oneItem.held, findsimilar: oneItem.similar}" class="breedpic">
  <div style="margin:auto">
  <img ng_src="{{oneItem.mediaUrl}}">
  <br />
  tags: <em style="word-break: break-word;"><span ng-repeat="tag in oneItem.tags">{{tag}},</span></em>
  <br />
  <button class='holdbutton' ng-click="oneItem.held = !oneItem.held;oneItem.similar=false;">
	   Hold Image {{$index}}
  </button>
  <button class='holdbutton' ng-click="oneItem.similar = !oneItem.similar;oneItem.held=false;">
	   Find Similar
  </button>
  </div>
</div>

<br><br><br><br><br>

<div style="display:block; clear:both;">
  <button ng-click="saveStrip()"
      style="display: block; margin-left: auto; margin-right: auto;"
      nt-disabled="saveDisabled">
    &hearts; save strip
  </button>
</div>
