<h2>Roots</h2>

<p><em>Define yourself by what you love.</em></p>

<p>Simply enter <em>your username</em> on the social media sites you would like to use - use a comma between usernames if more than one on each site:</p>


<label for="username-tumblr">Tumblr</label>
<input ng-model="formData.tumblr" id="username-tumblr">
<br><br>
<label for="username-weheartit">We Heart It</label>
<input ng-model="formData.weheartit" id="username-weheartit" disabled>
<br><br>
<label for="username-soundcloud">SoundCloud</label>
<input ng-model="formData.soundcloud" id="username-soundcloud" disabled>



<br><br>
<button ng-click="saveUserHandles()">Start breeding!</button>

<br><br><br><br><br>
